In [2]:
print(f"2 x 1 = {2*1}")
print(f"2 x 2 = {2*2}")
print(f"2 x 3 = {2*3}")
print(f"2 x 4 = {2*4}")
print(f"2 x 5 = {2*5}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [7]:
n = int(input("Enter the value"))
for i in range(1,11,2):
    print(f"{n} x {i} = {n*i}")

Enter the value 6

6 x 1 = 6
6 x 3 = 18
6 x 5 = 30
6 x 7 = 42
6 x 9 = 54

In [8]:
n = 3
i = 1
while i <= 10:
    print(f"{n} x {i} = {n*i}")
    i += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [13]:
n = 20
prime = True
for i in range(2,n//2+1):
    if n%i == 0:
        prime = False
        print("Number is not prime")
        break
if prime:
    print("Number is prime")

Number is not prime

In [15]:
n = 19
for i in range(2,n//2+1):
    if n%i == 0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Number is prime

In [17]:
n = 12345
rev = 0
while n > 0:
    rev = rev * 10 + n%10
    n //= 10
print(rev)

54321

In [28]:
# *****
# *****
# *****
# *****
# *****
for j in range(5):
    for i in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [30]:
for j in range(5):
    for i in range(5):
        print(f"{j,i}",end = " ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)