In [2]:
print(f"2 x 1 = {2*1}")
print(f"2 x 2 = {2*2}")
print(f"2 x 3 = {2*3}")
print(f"2 x 4 = {2*4}")
print(f"2 x 5 = {2*5}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [7]:
n = int(input("Enter the value"))
for i in range(1,11,2):
    print(f"{n} x {i} = {n*i}")

Enter the value 6

6 x 1 = 6
6 x 3 = 18
6 x 5 = 30
6 x 7 = 42
6 x 9 = 54

In [8]:
n = 3
i = 1
while i <= 10:
    print(f"{n} x {i} = {n*i}")
    i += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [13]:
n = 20
prime = True
for i in range(2,n//2+1):
    if n%i == 0:
        prime = False
        print("Number is not prime")
        break
if prime:
    print("Number is prime")

Number is not prime

In [15]:
n = 19
for i in range(2,n//2+1):
    if n%i == 0:
        print("Number is not prime")
        break
else:
    print("Number is prime")

Number is prime

In [17]:
n = 12345
rev = 0
while n > 0:
    rev = rev * 10 + n%10
    n //= 10
print(rev)

54321

In [28]:
# *****
# *****
# *****
# *****
# *****
for j in range(5):
    for i in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [30]:
for j in range(5):
    for i in range(5):
        print(f"{j,i}",end = " ")
    print()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
(3, 0) (3, 1) (3, 2) (3, 3) (3, 4)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)

In [3]:
n = 5
for i in range(n):
    for j in range(n-1-i):
        print(" ",end = " ")
    for k in range(n-1-i,n):
        print("*",end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [4]:
n = 5
for i in range(n):
    for j in range(n-1-i):
        print(" ",end = " ")
    for k in range(2*i + 1):
        print("*",end = " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [9]:
n = 145
org = n
count = 0
sums = 0
while n > 0:
    count += 1
    n //= 10
n = org
while n > 0:
    sums += pow(n%10,count)
    n //= 10
if sums == org:
    print("Number is an Armstrong..")
else:
    print("Number is not an Armstrong..")

Number is not an Armstrong..

In [13]:
for n in range(1,1001):
    org = n
    count = 0
    sums = 0
    while org > 0:
        count += 1
        org //= 10
    org = n
    while org > 0:
        sums += pow(org%10,count)
        org //= 10
    if sums == n:
        print(n)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [15]:
n = 123
org = n
rev = 0
while org > 0:
    rev = rev*10 + org%10
    org //= 10
if n == rev:
    print("Number is palindrome")
else:
    print("Number is not palindrome")

Number is not palindrome

In [17]:
for n in range(2,101):
    for i in range(2,n//2+1):
        if n%i == 0:
            break
    else:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [20]:
f = 0
s = 1
t = 0
print(f,s,end = " ")
for i in range(2,7):
    t = f + s
    print(t,end = " ")
    f = s
    s = t

0 1 1 2 3 5 8